/* body {
    height: 100vh;
} */

#main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sketch-cell {
    border: 1px solid black; 
    height: .8em; 
    width: .8em;
}

.sketch-cell-active {
    background-color: black;
}

.sketch-row {
    display: flex;
}