/* body {
    height: 100vh;
} */

#main-container {
    height: 690px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-container {
    margin-bottom: 20px;
}

#intro-container {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    align-items: center;
    margin-bottom: -20px;
}

p {
    font-family: 'Arial', sans-serif;
}

.sketch-cell {
    height: 3px; 
    width: 3px;
}

.sketch-cell-active {
    background-color: #585c57;
}

.sketch-row {
    display: flex;
}

#btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#reset-btn {
    background-color: #fff;
    color: #000;
    font-size: 27px;
    padding: 14px 27px;
    border: 1px solid black;
    transition: .3s;
    /* margin: 1em; */
}

#reset-btn:hover {
    background-color: #000;
    color: #fff;
}

#reset-btn:active {
    transform: translateY(4px);
}

#etch-a-sketch {
    width: 700px;
    height: auto;
    position:absolute;
    z-index: -1;
}